@import "./variables.scss";

.btn {
  box-shadow: 0 5px 5px -5px rgba(#000, 0.4);
  border: none;
  border-radius: $border-radius-width;
  color: white;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 12px 20px;
  transition: all 0.5s ease;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:focus {
    animation: bounce 1s;
  }
  &:disabled {
    opacity: 0.5;
  }
  &.primary {
    background: $btn--primary;
    &:hover,
    &:focus {
      background: darken($btn--primary, 2%);
    }
    &:active {
      background: darken($btn--primary, 5%);
    }
  }
  &.link {
    animation: none;
    box-shadow: none;
    background: none;
    color: $btn--link;
    &:hover,
    &:focus {
      color: darken($btn--link, 2%);
      text-decoration: underline;
    }
    &:active {
      color: darken($btn--link, 5%);
    }
  }
  & + .btn {
    margin-left: 8px;
  }
  &.writing-action {
    position: fixed;
    right: 8px;
    top: 12px;
    background: $btn--writing;
    &:hover,
    &:focus {
      background: lighten($btn--writing, 10%);
    }
    &:active {
      background: lighten($btn--writing, 15%);
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  80% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
