@import "./variables.scss";
@import "./forms.scss";

html,
body,
#root,
#root > div {
  height: 100%;
}

.App {
  text-align: center;
}

.timer-settings {
  display: flex;
  justify-content: center;
}
