@import url("https://fonts.googleapis.com/css?family=Raleway|Thasadith&subset=latin-ext");

/* Setup */
html {
  font-family: "Thasadith", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "Raleway", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0.7rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}
input,
button {
  font-size: 0.8rem;
}
a {
  color: #123f81;
  text-decoration: none;
  &:visited,
  &:active {
    color: #123f81;
  }
  &:hover,
  &:focus {
    color: rgb(8, 82, 194);
    text-decoration: underline;
  }
}
